@font-face {
  font-family: myFirstFont;
  src: url(../../../fonts/PlayfairDisplay-SemiBold.ttf);
  font-family: mySecondFont;
  src: url(../../../fonts/Lora-Italic.ttf);
  font-family: myThirdFont;
  src: url(../../../fonts/DancingScript-Medium.ttf);
}
#navbar .navarea {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#navbar .navarea .left img {
  width: 250px;
}
#navbar .navarea .right a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  padding: 10px;
}
#navbar .navarea .right a:hover {
  outline: black solid 1px;
}
#navbar .navarea .right i:hover {
  color: red;
}

#slider .slides {
  position: relative;
  background-color: rgb(242, 242, 237);
}
#slider .slides .sliders {
  display: flex;
  justify-content: space-around;
}
#slider .slides .sliders .description {
  margin-top: 150px;
}
#slider .slides .sliders .description span {
  font-size: 55px;
  font-family: myFirstFont;
}
#slider .slides .sliders .description p {
  margin-top: 20px;
  width: 506px;
  font-size: 20px;
  font-family: mySecondFont;
  color: rgb(178, 175, 175);
}
#slider .slides .sliders .description .sara {
  font-size: 60px;
  font-family: myThirdFont;
  color: rgb(192, 62, 62);
}
#slider .slides .sliders .slider-image img {
  width: 100%;
  height: 450px;
}

@media screen and (max-width: 992px) {
  #slider .slides .sliders .description span {
    font-size: 25px;
  }
  #slider .slides .sliders .description p {
    font-size: 15px;
    width: 250px;
  }
  #slider .slides .sliders .description .sara {
    font-size: 25px;
  }
}
#filter .navarea {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
#filter .navarea .left-side a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}
#filter .navarea .left-side :nth-child(1) {
  color: red;
}
#filter .navarea .left-side a:hover {
  color: red;
}
#filter .navarea .right-side a {
  text-decoration: none;
  color: black;
}

#cards .card {
  margin-top: 50px;
  width: 100%;
  height: 330px;
  border: none;
}
#cards .card .product-image img {
  width: 100%;
  transition: 0.5s;
}
#cards .card .product-image img:hover {
  transform: scale(1.1);
}
#cards .card .product-name p {
  margin-top: 20px;
  text-align: center;
  line-height: 0px;
  font-size: 15px;
  font-family: inherit;
}
#cards .card .product-price p {
  text-align: center;
  font-size: 13px;
  color: rgb(178, 175, 175);
  font-family: inherit;
}

@media screen and (max-width: 992px) {
  #cards .card .product-image img {
    height: 320px;
  }
}
#card-2 .card {
  margin-top: 50px;
  width: 100%;
  height: 330px;
  border: none;
}
#card-2 .card .product-image img {
  width: 100%;
  transition: 0.5s;
}
#card-2 .card .product-image img:hover {
  transform: scale(1.1);
}
#card-2 .card .product-name p {
  margin-top: 20px;
  text-align: center;
  line-height: 0px;
  font-size: 15px;
  font-family: inherit;
}
#card-2 .card .product-price p {
  text-align: center;
  font-size: 13px;
  color: rgb(178, 175, 175);
  font-family: inherit;
}

@media screen and (max-width: 992px) {
  #card-2 .card .product-image img {
    height: 320px;
  }
}
#video-part {
  margin-top: 150px;
}
#video-part .info-with-video {
  background-color: rgb(242, 242, 237);
}
#video-part .info-with-video .info .video {
  display: flex;
  justify-content: space-between;
}
#video-part .info-with-video .info .video .video-source iframe {
  transition: 0.5s;
}
#video-part .info-with-video .info .video .video-source iframe:hover {
  transform: scale(1.1);
}
#video-part .info-with-video .info .video .desc .desc-1 p {
  font-family: myFirstFont;
  font-size: 35px;
  width: 370px;
}
#video-part .info-with-video .info .video .desc .desc-2 p {
  font-family: inherit;
  font-size: 18px;
  width: 600px;
  color: rgb(178, 175, 175);
}
#video-part .info-with-video .info .video .desc .icon ul {
  list-style: none;
  line-height: 35px;
}
#video-part .info-with-video .info .video .desc .icon ul li .fa-regular {
  color: red;
}

#experts .info {
  margin-top: 75px;
}
#experts .info .heading p {
  text-align: center;
  font-family: myFirstFont;
  font-size: 45px;
}
#experts .info .main-part {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(161, 158, 158);
}
#experts .card {
  border: none;
}
#experts .card .expert-image {
  text-align: center;
}
#experts .card .expert-name {
  text-align: center;
}
#experts .card .expert-name p {
  margin-top: 10px;
  font-size: 14px;
}
#experts .card .position {
  text-align: center;
}
#experts .card .position p {
  font-size: 12px;
  font-family: inherit;
  line-height: 10px;
  color: rgb(178, 175, 175);
}/*# sourceMappingURL=home.css.map */